tr.hide-table-padding td {
    padding: 0;
}

.expand-button {
    position: relative;
}

.accordion-toggle {
    cursor: pointer;
}

.tab-content {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: hsl(0 0% 50% / 0.1);
}

.tab-head {
    width: 15%;
}

.visualisation-tab {
    height: 400px;
    max-height: 450px; /* Set your initial fixed size */
}

.zoom_outer {
    height: 400px;
}

.zoom_inner {
    height: 400px;
}

.eventlog-tab {
    height: 400px;
}
